*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}



.navbar{
    background-color:#707070;
    height: 60px;
    width: 100%;
    position: fixed;
    

}

.logo{   
  
    margin-left: 40px;
    width: 40px;
    height: 40px;
    margin-top: 10px;
    border-radius: 100%;
}

.navbar ul{
    float: right;
    margin-right: 50px;
}
.navbar ul li{
    list-style: none;
    display: inline-block;
    margin-top: 20px;
}
.navbar ul li a{
    
    margin: 10px;
    font-size: 16px;
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-family: 'Crimson Text', serif;
}
section{
    display: flex;
    justify-content: center;
}

.photo2{
    width: 1240px;
    height: 500px;
    margin-top: 100px;
    border-radius: 10px;
}
h1{
    margin-bottom: 10px;
    text-transform: uppercase;
    font-size: 15px;
    padding: 10px;

}
p{

    font-size: 16px;
    text-align: left;
    margin-left: 20px;
    margin-top: 20px;
    line-height: 30px;
    

}
.card2{  
 display: flex;
 flex-wrap: wrap;
 justify-content: center;
 margin-top: 20px;
 
}

.card2 div{
        border: 1px solid rgba(47, 79, 79, 0.219);
        padding: 10px 50px 0px;
        text-align: center;
        margin: 20px;
        width: 600px;
        height: 700px;   
        border-radius: 30px;
}
.Somnath img{
    border-radius: 30px;
    height: 300px;
    width: 500px;

}


@media (max-width:800px){

    .navbar ul{
        position: fixed;
        width: 100%;
        height: 230px;
        background-color: darkgrey;
        text-align: center;
        left: -100%;
    }

    .navbar ul li{
        display: block;
        
    }

    .navbar ul li a{
        line-height: 30px;
        font-size: 18px;
        text-transform: uppercase;
    }
    h1{
        margin-bottom: 10px;
        text-transform: uppercase;
        font-size: 10px;
        padding: 10px;
    
    }
    p{
    
        font-size: 10px;
        text-align: left;
        margin-left: 20px;
        margin-top: 20px;
        line-height: 15px;
        
    
    }
    .card2{  
     display: flex;
     flex-wrap: wrap;
     justify-content: center;
     margin-top: 20px;
     align-items: center;
     flex-direction: column;
     padding: 30px;
     
    }
    
    .card2 div{
            border: 1px solid rgba(47, 79, 79, 0.219);
            padding: 10px 50px 0px;
            text-align: center;
            margin: 20px;
            width: 300px;
            height: 550px;   
            border-radius: 30px;
            margin-left: -;
    }
    .Somnath img{
        border-radius: 30px;
        height: 200px;
        width: 200px;
    
    }
    .photo2{
        width: 300px;
        height: 300px;
        margin-top: 100px;
        border-radius: 10px;
       
    }


}
